@import url("https://fonts.googleapis.com/css?family=Lato");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline;
    color: #009fc6; }

body, html, .container {
  height: 100%; }

.section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section h1 {
    padding: 20px; }

.see-all {
  width: 100%; }

.hero {
  height: 100%;
  background-image: url("../img/v.dempsey-logo.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto; }

.work {
  height: 100%; }
  .work .gallery-container {
    text-align: center;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: auto; }
    .work .gallery-container .gallery-thumbnail {
      width: calc(100% / 3);
      z-index: 3;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      flex-grow: 1;
      align-items: center;
      background-color: rgba(64, 65, 66, 0.95);
      transition: transform 3s ease-in-out; }
      .work .gallery-container .gallery-thumbnail h3 {
        color: white; }
      .work .gallery-container .gallery-thumbnail .see-all {
        z-index: 3;
        max-width: 300px;
        display: none; }
        .work .gallery-container .gallery-thumbnail .see-all a {
          color: white;
          font-weight: bold;
          background-color: black;
          padding: 10px;
          display: block;
          width: 100px;
          margin: 20px auto; }
          .work .gallery-container .gallery-thumbnail .see-all a:hover {
            color: #009fc6; }
      .work .gallery-container .gallery-thumbnail:hover {
        background-color: #009fc6;
        background-image: url("../img/html-screenshot1.png");
        -webkit-transition: background-color 400ms;
        -ms-transition: background-color 400ms;
        transition: background-color 400ms; }
        .work .gallery-container .gallery-thumbnail:hover .see-all {
          display: block;
          padding-top: 20px; }
        .work .gallery-container .gallery-thumbnail:hover h3 {
          transform: scale(1.7); }
        .work .gallery-container .gallery-thumbnail:hover:first-child .see-all::before {
          content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
          max-width: 300px;
          color: white;
          font-family: 'Lato'; }
      .work .gallery-container .gallery-thumbnail:nth-child(2) {
        background-image: none; }
        .work .gallery-container .gallery-thumbnail:nth-child(2):hover .see-all::before {
          content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
          color: white; }
      .work .gallery-container .gallery-thumbnail:nth-child(3) {
        background-image: none; }
        .work .gallery-container .gallery-thumbnail:nth-child(3):hover .see-all::before {
          content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
          color: white; }

#projects-one {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 70px;
  height: auto;
  min-height: 100%; }

.projects-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .projects-container .project-thumbn {
    border: 1px solid #6b6c6d;
    margin: 10px;
    padding: 0 0 10px 0;
    text-align: center;
    background-color: #404142;
    color: white;
    z-index: 4; }
    .projects-container .project-thumbn p {
      padding: 10px; }
  .projects-container img {
    width: auto;
    max-width: 300px; }

.navigation {
  height: 100px;
  top: 0;
  z-index: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  z-index: 1; }
  .navigation ul {
    display: flex;
    font-family: 'Bebas Neue Bold';
    justify-content: space-around; }
    .navigation ul li {
      list-style-type: none;
      padding: 20px; }

.about,
.contact {
  padding-right: 15%;
  padding-left: 15%; }

.about {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); }

p.about-copy {
  padding-bottom: 20px; }

.footer {
  height: 70px;
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .footer p {
    font-size: 12px;
    padding: 10px; }
  .footer ul {
    display: flex;
    justify-content: center; }
    .footer ul li {
      list-style-type: none;
      font-size: 14px;
      padding: 10px; }
      .footer ul li:last-child {
        font-family: 'Lato';
        font-size: 10px; }

@media screen and (max-width: 779px) {
  .hero {
    background-size: 90%; } }
@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("../fonts/BebasNeueBold.ttf"); }
p {
  font-family: 'Lato'; }

h1, h2, h3, h4, h5 {
  font-family: 'Bebas Neue Bold';
  color: #6b6c6d; }

/*# sourceMappingURL=styles.css.map */
