@include reset;
@include link;

body, html, .container {
  height: 100%;
}

.section {
  height: 100%;
  h1 {
    padding: 20px;
  }
  width: 100%;
  @include flex-col-center;
}

.see-all {
  width: 100%;
}

.hero {
  height: 100%;
  background-image: url('../img/v.dempsey-logo.png');
  @include bgimg-main;
}

.work {
  height: 100%;
  .gallery-container {
    text-align: center;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: auto;
    .gallery-thumbnail {
      width: calc(100% / 3);
      z-index: 3;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      flex-grow: 1;
      align-items: center;
        background-color: rgba(64, 65, 66, 0.95);
        h3 {
          color: white;
        }
        .see-all {
          z-index: 3;
          max-width: 300px;
          display: none;
          a { color: white;
          font-weight: bold;
          background-color: black;
          padding: 10px;
          display: block;
          width: 100px;
          margin: 20px auto;
          &:hover {
            color: $blue;
          }
          }
        }
        transition: transform 3s ease-in-out;
        &:hover {
          background-color: $blue;
          background-image: url('../img/html-screenshot1.png');
          -webkit-transition: background-color 400ms;
          -ms-transition: background-color 400ms;
          transition: background-color 400ms;
          & .see-all {
            display: block;
            padding-top: 20px;
            // background-color: black;
          }
          h3 {
            transform: scale(1.7);
          }
          &:first-child {
            & .see-all::before {
              content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
              max-width: 300px;
              color: white;
              font-family: 'Lato';
          }
        }
      }
      &:nth-child(2) {
        background-image: none;
        &:hover {
          & .see-all::before {
            content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
            color: white;
          }
        }
      }
      &:nth-child(3) {
        background-image: none;
        &:hover {
          & .see-all::before {
            content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
            color: white;
          }
        }
      }
    }
  }
}

#projects-one {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 70px;
  height: auto;
  min-height: 100%;

}

.projects-container {
  @include flex-row-wrap-center;
  .project-thumbn {
    border: 1px solid $grey;
    margin: 10px;
    padding: 0 0 10px 0;
    text-align: center;
    background-color: $dark-grey;
    color: white;
    z-index: 4;
    p {
      padding: 10px;
    }
  }
  img {
    width: auto;
    max-width: 300px;
  }
}

.navigation {
  height: 100px;
  top: 0;
  z-index: 1;
  position: relative;
  @include flex-row-wrap-center;
  background-color: rgba(255, 255, 255, 0.8);
  ul {
    display: flex;
    font-family: 'Bebas Neue Bold';
    justify-content: space-around;
    li {
      list-style-type: none;
      padding: 20px;
    }
  }
  position: fixed;
  width: 100%;
  z-index: 1;

}

.about,
.contact {
  padding-right: 15%;
  padding-left: 15%;
}


.about {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}


p.about-copy {
  padding-bottom: 20px;
}

.footer {
  height: 70px;
  p {
    font-size: 12px;
    padding: 10px;
  }
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  ul {
    display: flex;
    justify-content: center;
    li {
      list-style-type: none;
      font-size: 14px;
      padding: 10px;
      &:last-child {
        font-family: 'Lato';
        font-size: 10px;
      }
    }
  }

}

@media screen and (max-width: 779px) {
  .hero {
    background-size: 90%;
  }

}
