@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url('../fonts/BebasNeueBold.ttf');
}

p {
  font-family: 'Lato';
}

h1, h2, h3, h4, h5 {
  font-family: 'Bebas Neue Bold';
  color: $grey;
}
